<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog | Marcus Ball</title>

        {{> common/meta/header }}
    </head>

    <body>
        <div class="container">
            {{> common/header }}

            <div class="row">
                {{#each posts}}
                <article>
                    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                    <div>
                        {{{body}}}
                    </div>
                </article>
                {{/each}}
            </div>

            {{> common/footer }}
        </div>
    </body>

    {{> common/meta/footer }}
</html>