<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog</title>

        <link rel="stylesheet" href="/static/styles/reset.css" />
        <link rel="stylesheet" href="/static/styles/wing.min.css" />
        <link rel="stylesheet" href="/static/styles/main.css" />
        <link rel="stylesheet" href="/static/styles/highlightjs/color-brewer.css" />

        <script src="/static/scripts/highlight.pack.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1>Hello</h1>

                {{#each posts}}
                <article>
                    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                    <div>
                        {{{body}}}
                    </div>
                </article>
                {{/each}}
            </div>
        </div>
    </body>

    <!-- Highlight.js initialization code -->
    <script> 
        // Disable auto-language detection
        // See: https://github.com/isagalaev/highlight.js/issues/415
        hljs.configure({languages: []});
        hljs.initHighlightingOnLoad(); 
    </script>
</html>