<!doctype html5>
<html>
    <head>
        <meta charset="utf-8" />
        <title>New blog post</title>

        {{> common/meta/header }}

        <style type="text/css">
            .new-post textarea {
                height: 300px;
            }
        </style>
    </head>

    <body>
        <div class="container new-post">
            <div class="row">
                <article>
                    <h1>Write your new post, asshole</h1>
                    <form method="POST" action="/blog/new">
                        <div>
                            <label for="title">Title: </label>
                            <input type="text" name="title" />
                        </div>
                        <div>
                            <label for="body">Body: </label>
                            <textarea name="body"></textarea>
                        </div>
                        <input type="submit" value="Create Post"></input>
                    </form>
                </article>
            </div>
        </div>
    </body>

    {{> common/meta/footer }}
</html>