<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}} | Blog</title>
    </head>

    <body>
        <article>
            <h1>{{title}}</h2>
            <div>
                {{{body}}}
            </div>
        </article>
    </body>
</html>