            <header id="main-header" class="row">
                <h1>Hello</h1>
            </header>

            <nav class="row">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#">Hire me</a></li>
                    <li><a href="#">Contact</a></li>                                          
                </ul>
            </nav>