<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Contact | Marcus Ball</title>

        {{> common/meta/header }}
    </head>

    <body>
        <div class="container">
            {{> common/header }}

            <div class="row fill-content">
                <h2>Contact me</h2>
                <section>
                    <h3>Profiles</h3>
                    <ul>
                        <li><a href="http://www.github.com/marcusball">Github</a></li>
                        <li><a href="http://www.github.com/marcusball">Keybase 🔐</a></li>
                        <li><a href="http://www.twitter.com/marcusaball">Twitter</a></li>
                        <li><a href="http://www.linkedin.com/pub/marcus-ball/42/64a/b08/">LinkedIn</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Addresses</h3>
                    <ul>
                        <li><a href="mailto:marcus@marcusball.me">marcus@marcusball.me</a></li>
                    </ul>
                </section>
            </div>

            {{> common/footer }}
        </div>
    </body>

    {{> common/meta/footer }}
</html>