<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog</title>

        {{> common/meta/header }}
    </head>

    <body>
        <div class="container">
            {{> common/header }}

            <div class="row fill-content">
                <p>
                    Hello, I'm Marcus Ball. 
                </p>
                <p>
                    I'm an engineer at heart. I love to make things work, and to make them work well. 
                    My passion is writing clean, elegant, well-designed code to create high-quality 
                    software inside and out. 
                </p>
                <p>
                    I graduated the Univeristy of Florida in 2016 with a degree in computer science,
                    a minor in entomology—I'm good a finding bugs—and an "interdisciplinary focus" in
                    social psychology. 
                </p> 
            </div>

            {{> common/footer }}
        </div>
    </body>

    {{> common/meta/footer }}
</html>