@import url("/static/fonts/montserrat/stylesheet.css");

/*************************************/
/** Fonts                           **/
/*************************************/

body {
  font-size: 20px;
}

@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}


/*************************************/
/** Base elements                   **/
/*************************************/

h1 {
  font-size: 2.747em;
}
h2 {
  font-size: 2.22em;
}
h3 {
  font-size: 1.8em;
}

a {
  color: #786d8d;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: monospace;
}

article {
	padding: 1em 0em;
	border-bottom: 1px solid #b9aece;
}

ol, ul {
  padding: 0.5em 0 0.5em 1.5em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

/*************************************/
/** Containers                      **/
/*************************************/

body {
  background: #e4e4e4 none;
  color: #25202e;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  min-width: 25em;
  max-width: 33em;       /* http://maxdesign.com.au/articles/em/ */
}

.container img {
  max-width: 100%;
}

pre {
  padding: 0.5em 0;
}

/* Add a space above paragraphs that follow other paragraphs. */
p + p {
  padding: 0.5em 0 0;
}

blockquote {
	border-left: 0.25em solid #b9aece;
	margin: 0.5em 0 0.5em 0.4em;
	padding: 0.1em 0 0.1em 0.4em;
}

/*************************************/
/** Header                          **/
/*************************************/

#main-header {
  text-align: center;
}

/*************************************/
/** Navigation                      **/
/*************************************/

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0.2em 1em;
}

nav li a {
  color: #25202e;
  font-family: montserratregular, "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav li:hover a {
  text-decoration: none;
  border-bottom: 2px solid #25202e;
}

/*************************************/
/** Post styles                     **/
/*************************************/

.post-title h2 {
  margin: 0.3em 0;
}

.post-title a {
  color: #25202e;
}


/*************************************/
/** Specific overrides              **/
/*************************************/
.hljs {
  border: 1px solid #b9aece;
  background: #e1dee6 none !important;
}