<!doctype html5>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login</title>

        {{> common/header }}
    </head>

    <body>
        <div class="container">
            <div class="row">
                <article>
                    <h1>Who the fuck are you?</h1>
                    <form method="POST" action="/login">
                        <div>
                            <label for="email">Email: </label>
                            <input type="text" name="email" />
                        </div>
                        <div>
                            <label for="code">Code: </label>
                            <input type="text" name="code" />
                        </div>
                        <input type="submit" value="Login"></input>
                    </form>
                </article>
            </div>
        </div>
    </body>

    {{> common/footer }}
</html>